<!DOCTYPE html>
<html>
	<head>
		<meta content="IE=edge" http-equiv="X-UA-Compatible">
		<meta charset="utf-8">
		<title>RAF-forum | Login</title>
		<!--za stylesheet-->
		{% load static %}
		<link rel="stylesheet" href="{% static "/stylesheets/style.css" %}">
	</head>
	<body>
		<!--signin-form-->
		<div class="signin-form-profile">
			<div class="dropdown-auth">
				<h1>🚀 RAF Forum 🚀 </h1>
				<div class="column">
						<form class="form-inline" name="login"  method="POST">
							{% csrf_token %}
							{{form.as_p}}
							<div class="tp">
								<button class="dropbtnWide" type="submit">Login</button>
								<br>Treba ti nalog? <a href="/">Registruj se</a>
							</div>
						</form>
					</div>
			</div>
		</div>
		<div class="clear"></div>
	</body>
</html>