<!DOCTYPE html>
<html lang="en">
  <head>                                             
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta charset="utf-8">
	<title>RAF - Forum | Welcome</title>
    
    <!--za stylesheet-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"  media="screen,projection"/>
    
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
<body>
	<header>  
        <nav>
            <ul>
                <li><a href="/posts/add/" class="first active">POST</a></li>
                <li><a href="/profiles/me">PROFILE</a></li>
                <li><a href="/posts/">NEWS</a></li>
                <li><a href="/logout/">LOG OFF</a></li>
            </ul>
        </nav>
    </header>